  <style>
 h1, h2    {color: blue; font-style: italic;}
 p, #id    {text-indent: 30px; text-align: justify; margin: 0px;}
.content {color: green; font-family: Calibri; font-style: italic;} 
.autor, .zdroj {color: black; font-style: normal;} a:link {color: red;}
.zanr {color: black; font-style: normal; font-weight: bold; font-size: 200%}
footer {color: black; font-style: normal; font-weight: bold; font-size: 100%}
body {
background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/45degreee_fabric.png')
}
  </style>